# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Chroma vector DB
db/

# Ignore macOS file
.DS_Store

# Ignore local env files
.env

# Ignore all PDFs (in any folder)
*.pdf

# OPTIONAL: allow sample test PDF (uncomment if needed)
# !data/sample.pdf